#helpMessage {
    -fx-text-fill: white;
}

#helpMessageContainer {
    -fx-background-color: derive(#1e1e2e, 20%);
}

.hyperlink {
    -fx-text-fill: deepskyblue;
}

.hyperlink:visited {
    -fx-text-fill: deepskyblue;
}

.hyperlink:hover {
    -fx-text-fill: skyblue;
}